.header {
  width: 100vw;
  height: 18vh;
  margin-top: 10vh;
}

.header h1 {
  font-size: calc(1vw + 1vh + 2.5vmin);
  color: white;
  font-weight: 500;
  margin-left: 8vw;
  margin-top: 8vh;
}

.header h1 span {
  color: #BFCA30;
}

@media (min-width: 1080px) {
  .header {
    height: 25vh;
  }
  .header h1 {
    margin-top: 13vh;
  }
}
